<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
        integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/app.service.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>

<body ng-controller="FormController">
    <!-- <div class="p-10 main h-screen bg-black bg-opacity-50"> -->
    <div class="flex h-screen justify-center items-center">
        <div ng-if="!isLogin" class="flex h-screen overflow-hidden shadow-lg shadow-gray-900">
            <div class="flex-1 flex bg-gradient-to-r from-cyan-500 to-blue-600">
                <img src="./assets/bg-3.png" class="m-auto" alt="">
            </div>
            <div class="flex-1 m-auto flex flex-col items-center text-sky-600">
                <p ng-if="message" class="bg-green-200 text-green-500 p-2 mb-4 rounded-xl" ng-class="{'text-red-500 bg-red-200 p-2 mb-4 rounded-xl' : message.error }">{{ message.error ? message.error : message }}</p>
                <h1 class="text-center font-bold text-4xl pb-10">{{ isRegister ? 'ĐĂNG KÝ' : 'ĐĂNG NHẬP' }}</h1>
                <form ng-if="!mfa" ng-submit="isRegister ? register() : login($event)" class="text-center mx-4 flex flex-col justify-center items-center w-full" ng-class="{'w-1/2': mfa}">
                    <div class="w-4/5 m-auto">
                        <div class="flex mb-5 bg-gray-200 rounded-xl items-center overflow-hidden">
                            <label class="mx-2 w-1/12" for="email"><i class="text-xl fa-solid fa-envelope"></i></label>
                            <input type="email" id="email" class="p-5 flex-1 bg-gray-200 text-gray-800 outline-none"
                                ng-model="user.email" placeholder="Email" required>
                        </div>
                        <div class="flex mb-5 bg-gray-200 rounded-xl items-center overflow-hidden">
                            <label class="mx-2 w-1/12" for="password"><i class="text-xl fa-solid fa-lock"></i></label>
                            <input type="password" id="password"
                                class="p-5 flex-1 bg-gray-200 text-gray-800 outline-none" ng-model="user.password"
                                placeholder="Password" required>
                        </div>
                        <div ng-if="isRegister" class="flex mb-5 bg-gray-200 rounded-xl items-center overflow-hidden">
                            <label class="mx-2 w-1/12" for="password"><i class="text-xl fa-solid fa-lock"></i></label>
                            <input type="password" id="password" class="p-5 flex-1 bg-gray-200 text-gray-800 outline-none"
                                ng-model="user.password" placeholder="Password confirm" required>
                        </div>
                        <p>
                            {{ isRegister ? 'Bạn đã có tài khoản?' : 'Bạn chưa có tài khoản?' }}
                            <span class="font-bold cursor-pointer hover:text-blue-900" ng-click="toggleForm()">
                                {{ isRegister ? 'Đăng nhập' : 'Đăng ký' }}
                            </span>
                        </p>
                    </div>
                    <div ng-if="mfa" class="flex flex-col items-center">
                        <div class="flex justify-center">
                            <img ng-src="{{ qrCode }}" alt="">
                        </div>
                        <input type="text" class="p-5 rounded-xl flex-1 bg-gray-200 text-gray-800 outline-none" ng-model="user.otp"
                            placeholder="OTP" required>
                    </div>
                    <button type="submit" class="bg-blue-500 mt-7 hover:bg-blue-700 text-lg p-2 rounded-xl text-white w-4/5">Xác nhận</button>
                </form>
                <form ng-if="mfa" ng-submit="verify($event)" action="" class="text-center">
                    <div class="flex flex-col items-center">
                        <div ng-if="qrCode" class="flex justify-center">
                            <img ng-src="{{ qrCode }}" alt="">
                        </div>
                        <input type="text" class="p-5 rounded-xl flex-1 bg-gray-200 text-gray-800 outline-none" ng-model="user.otp"
                            placeholder="OTP" required>
                    </div>
                    <button type="submit" class="bg-blue-500 mt-7 hover:bg-blue-700 text-lg p-2 rounded-xl text-white w-4/5">Xác
                        nhận</button>
                </form>
            </div>
        </div>
    <!-- </div> -->
    <div ng-if="isLogin">
        <div ng-view></div>
        </div>
    </div>
</body>

</html>